form label {
  display: block;
  color: #484d55; }

form input,
form select,
form textarea {
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #eee;
  outline: none;
  border-radius: 0.35rem;
  padding: 0.75em 1em 0.75em 1em; }

form input.text:hover,
form select:hover,
form textarea:hover {
  text-decoration: none; }

form input.text:focus,
form select:focus,
form textarea:focus {
  background: #f8f8f8; }

form textarea {
  min-height: 9em; }

form .formerize-placeholder {
  color: #555555 !important;
  font-style: italic; }

form ::-webkit-input-placeholder {
  color: #555555 !important;
  font-style: italic; }

form :-moz-placeholder {
  color: #555555 !important;
  font-style: italic; }

form ::-moz-placeholder {
  color: #555555 !important;
  font-style: italic; }

form :-ms-input-placeholder {
  color: #555555 !important;
  font-style: italic; }

form ::-moz-focus-inner {
  border: 0; }

button {
  display: inline-block;
  background: #444;
  text-align: center;
  text-decoration: none;
  border-radius: 0.35em;
  border: 0;
  outline: 0;
  cursor: pointer;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

button.form-submit-button-light_rounded {
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  margin-top: 10px;
  width: 235px;
  height: 40px;
  background: #eeeeee;
  color: #444;
  text-decoration: none;
  text-align: center;
  border-radius: 0.35rem;
  outline: none; }

.form-textname {
  width: 200px;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  color: #444;
  float: left;
  margin: 0px 0px 10px 0px; }

.form-textname:focus, .form-textnemail:focus, .form-textarea:focus {
  color: #333;
  background: #e5e5e4;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.form-textemail {
  width: 258px;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  color: #444;
  float: left;
  margin: 0px 10px 10px 10px; }

.form-textarea {
  width: 500px;
  min-height: 12rem;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  color: #444; }
