body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 0.5rem;
  min-width: 640px;
  max-width: 640px;
  width: 100vw;
  max-height: 1136px;
  height: 100vh; }

h1 {
  font-size: 1.6rem;
  color: #444;
  text-align: left;
  line-height: 1.7rem;
  margin-left: 60px;
  margin-bottom: 0; }

h2 {
  font-size: 1.0rem;
  color: #868686;
  color: #868686;
  margin-left: 60px; }

h3 {
  font-size: 1.0rem;
  color: #868686;
  color: #868686;
  margin-left: 60px; }

a:link {
  color: #444;
  text-decoration: none; }

a:visited {
  color: #a0a0a0; }

.post {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 3px; }

.dot {
  position: relative;
  float: left;
  padding: 5px 5px 5px 5px;
  /*width: 48px;
  height: 48px;*/ }

.redot {
  position: absolute;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  color: #fff;
  left: 0;
  right: 0;
  top: 24px;
  bottom: 0; }
