@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova';
  src: url("font/proximanova-light-webfont.eot");
  src: url("font/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("font/proximanova-light-webfont.woff") format("woff"), url("font/proximanova-light-webfont.ttf") format("truetype"), url("font/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Extrabold';
  src: url("font/proximanova-extrabold-webfont.eot");
  src: url("font/proximanova-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("font/proximanova-extrabold-webfont.woff") format("woff"), url("font/proximanova-extrabold-webfont.ttf") format("truetype"), url("font/proximanova-extrabold-webfont.svg#proxima_novaextrabold") format("svg");
  font-weight: bolder;
  font-style: normal; }

@font-face {
  font-family: 'iconfont';
  src: url("../css/font/iconfont.eot?14602704");
  src: url("../css/font/iconfont.eot?14602704#iefix") format("embedded-opentype"), url("../css/font/iconfont.woff?14602704") format("woff"), url("../css/font/iconfont.ttf?14602704") format("truetype"), url("../css/font/iconfont.svg?14602704#iconfont") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.svg?14602704#iconfont') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'iconfont';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity .8 */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  font-size: 150%;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-forrst, .icon-dribbble, .icon-email, .icon-tent, .icon-blog, .icon-feather {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  display: inline-block; }

.icon-forrst:before {
  content: '\3a'; }

/* ':' */
.icon-dribbble:before {
  content: '\44'; }

/* 'D' */
.icon-email:before {
  content: '\5d'; }

/* ']' */
.icon-feather:before {
  content: '\2712'; }

/* '✒' */
.icon-tent:before {
  content: '\e75f'; }

/* '' */
.icon-blog:before {
  content: '📄'; }

/* '\1f4c4' */
.icon-dictionary:before {
  content: '\e0f5'; }

/* '' */
.icon-forrst:hover {
  display: inline-block;
  color: #2ecc71; }

.icon-dribbble:hover {
  display: inline-block;
  color: #ec5e95; }

.icon-email:hover {
  display: inline-block;
  color: #c0392b; }

.icon-blog:hover {
  display: inline-block;
  color: #f39c12; }

.icon-tent:hover {
  display: inline-block;
  color: #934b85; }

form label {
  display: block;
  color: #484d55; }

form input, form select, form textarea {
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #fff;
  outline: none;
  border-radius: 0.35rem;
  padding: 0.75em 1em 0.75em 1em; }

form input.text:hover, form select:hover, form textarea:hover {
  text-decoration: none; }

form:focus {
  color: #fff; }

form .formerize-placeholder {
  color: #555;
  font-style: italic; }

form ::-webkit-input-placeholder {
  color: #555;
  font-style: italic; }

form :-moz-placeholder {
  color: #555;
  font-style: italic; }

form ::-moz-placeholder {
  color: #555;
  font-style: italic; }

form :-ms-input-placeholder {
  color: #555;
  font-style: italic; }

form ::-moz-focus-inner {
  border: 0; }

input:focus::-webkit-input-placeholder {
  color: #fff; }

textarea:focus::-webkit-input-placeholder {
  color: #fff; }

input:focus:-moz-placeholder {
  color: #fff; }

​
textarea:focus:-moz-placeholder {
  color: #fff; }

button {
  display: block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-style: none;
  border-radius: 0.35em;
  border: 0;
  outline: 0;
  cursor: pointer; }

button.submit {
  font-family: 'Proxima Nova', sans-serif;
  background: #fff;
  color: #444;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 235px;
  height: 40px;
  font-size: 1.05rem; }

button.submit:hover {
  color: #fff;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  outline: 0; }

.form-textname, .form-textemail, .form-textarea {
  font-family: 'Proxima Nova', sans-serif;
  color: #444;
  font-size: 1.05rem; }

.form-textname {
  width: 200px;
  margin: 0px 0px 10px 0px; }

.form-textname:focus, .form-textemail:focus, .form-textarea:focus {
  color: #fff;
  background: none;
  -webkit-box-shadow: 0px 0px 0px 1px #fff;
  box-shadow: 0px 0px 0px 1px #fff;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

@media screen and (min-width: 700px) {
  button.submit {
    float: left;
    margin-left: 145px; }

  .form-textname {
    float: left; }

  .form-textemail {
    width: 257px;
    float: left;
    margin: 0px 10px 10px 10px; }

  .form-textarea {
    float: left;
    width: 500px;
    min-height: 12rem;
    margin-bottom: 10px; } }
@media screen and (max-width: 700px) {
  button.submit {
    margin-top: 10px; }

  .form-textname {
    width: 85%; }

  .form-textemail {
    width: 85%;
    margin: 0px 0px 10px 0px; }

  .form-textarea {
    float: none;
    width: 85%;
    min-height: 12rem; } }
.tooltip {
  position: relative; }
  .tooltip .tip {
    -webkit-transition: all 300ms ease-in-out, opacity 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out, opacity 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out, opacity 300ms ease-in-out;
    transition: all 300ms ease-in-out, opacity 300ms ease-in-out;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    display: block;
    padding: 6px 12px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 80px;
    text-align: center; }
  @media screen and (min-width: 700px) {
    .tooltip:hover .tip {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      top: -40px; } }

.dribbble-tip {
  color: #ec5e95; }

.forrst-tip {
  color: #2ecc71; }

.blog-tip {
  color: #f39c12; }

.contact-tip {
  color: #c0392b; }

.dribbble-fix {
  margin-left: -26px; }

.forrst-fix {
  margin-left: -10px; }

.blog-fix {
  margin-left: -6px; }

.contact-fix {
  margin-left: -20px; }

section,
header,
footer {
  display: block; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  text-decoration: none; }

body {
  width: 100%;
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0 auto;
  color: #444444;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.7rem; }

img {
  max-width: 100%;
  width: auto\9;
  /*iefix*/
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

img::selection {
  background: rgba(0, 0, 0, 0.1); }

::selection {
  background: rgba(0, 0, 0, 0.1); }

::-moz-selection {
  background: rgba(0, 0, 0, 0.1); }

header {
  text-align: center; }
  header#head {
    background: #e1e6e6;
    padding: 40px 0 30px 0; }
    header#head h1 {
      font-family: 'Proxima Nova Extrabold', sans-serif;
      color: #444444; }
      @media screen and (min-width: 700px) {
        header#head h1 {
          padding-top: 35px;
          font-size: 7rem;
          line-height: 5rem; } }
      @media screen and (max-width: 700px) {
        header#head h1 {
          padding-top: 20px;
          font-size: 4rem; } }
    header#head h2 {
      font-size: 1.1rem;
      color: #afb0ae; }
      @media screen and (min-width: 700px) {
        header#head h2 {
          margin-top: -75px; } }
      @media screen and (max-width: 700px) {
        header#head h2 {
          margin-top: -25px; } }

section#about {
  background: #eff2f2;
  padding: 78px 0 78px 0;
  color: #9bacac; }
  section#about .width {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    line-height: 1.9rem;
    text-align: left; }
  section#about .dribbble {
    color: #ec5e95; }
  section#about .contact {
    color: #c0392b; }
  section#about .blog {
    color: #f39c12; }

section#social {
  background: white;
  -webkit-backface-visibility: hidden; }
  @media screen and (min-width: 700px) {
    section#social {
      padding: 30px 0 55px 0; } }
  @media screen and (max-width: 700px) {
    section#social {
      padding: 20px 0 35px 0; } }
  section#social .aligner {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    color: rgba(68, 68, 68, 0.1); }
    @media screen and (min-width: 700px) {
      section#social .aligner {
        font-size: 2rem; } }
    @media screen and (max-width: 700px) {
      section#social .aligner {
        font-size: 1.5rem; } }
    section#social .aligner a {
      color: rgba(68, 68, 68, 0.1);
      text-decoration: none;
      height: 125px; }

section#latest1, section#latest2, section#latest3 {
  padding: 78px 0 78px 0; }
  section#latest1 .width, section#latest2 .width, section#latest3 .width {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px 0 20px; }
  section#latest1 h1, section#latest2 h1, section#latest3 h1 {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.45rem;
    text-align: center;
    margin-bottom: 0px; }
  section#latest1 h2, section#latest2 h2, section#latest3 h2 {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.05rem;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 0px; }
  section#latest1 p, section#latest2 p, section#latest3 p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.05rem;
    margin-top: 3px; }
  section#latest1 a, section#latest2 a, section#latest3 a {
    text-decoration: none; }

section#latest1 {
  background: #2ecc71; }
  section#latest1 h1 {
    color: #1b7943; }
    section#latest1 h1 a {
      color: #1b7943; }
  section#latest1 h2 {
    color: #1b7943; }
  section#latest1 p {
    color: #1b7943; }
  section#latest1 a {
    color: #a8ebc4; }

section#latest2 {
  background: #25b3ee; }
  section#latest2 h1 {
    color: #0d75a0; }
    section#latest2 h1 a {
      color: #0d75a0; }
  section#latest2 h2 {
    color: #0d75a0; }
  section#latest2 p {
    color: #0d75a0; }
  section#latest2 a {
    color: #b3e4f9; }

section#latest3 {
  background: #f1c40f; }
  section#latest3 h1 {
    color: #927608; }
    section#latest3 h1 a {
      color: #927608; }
  section#latest3 h2 {
    color: #927608; }
  section#latest3 p {
    color: #927608; }
  section#latest3 a {
    color: #f9e8a0; }

section#contact {
  padding: 78px 0 78px 0;
  background: #2980b9; }
  section#contact .width {
    max-width: 600px;
    min-height: 300px;
    padding-left: 2%;
    margin: 0 auto;
    display: block;
    line-height: 1.9rem;
    text-align: left; }

footer#foot {
  padding: 40px 0 30px 0;
  background: #c0392b; }
  footer#foot .cont {
    text-align: left;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    max-width: 600px;
    color: #6d2018; }
    footer#foot .cont a {
      color: #df7c72;
      text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  font-family: 'Proxima Nova', sans-serif; }

ul, li {
  list-style-type: none;
  padding: 0 auto; }

@media screen and (min-width: 700px) {
  .icon {
    padding: 0 8% 0 0; } }
@media screen and (max-width: 700px) {
  .icon {
    padding: 0 4% 0 0; } }

.img-center {
  margin: 0 auto;
  display: block; }

.top-pad {
  margin-top: 3rem; }

.slider {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0 auto;
  width: 100%; }
  .slider li {
    list-style: none; }
  .slider ul li {
    float: left; }
  .slider ul {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -moz-padding-start: 0px;
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px; }

.about-slider {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: normal;
  font-size: 1.4rem; }
