html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Quicksand' ,sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 130%;
  color: #444;
}

a {
  text-decoration: none;
}

a:link{
  color: #333;
  text-decoration: underline;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #00aef1;
  text-decoration: none;
}

ul {
  padding: .5em 0 1em 3.2em;
}

li {
  line-height: 30px;
  padding: 6px 0 0 0;
}

ol {
  padding: .5em 0 0 3.2em;
}

li {
  line-height: 30px;
  padding: 6px 0 0 0;
}

.content {
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  max-width: 50%;
 min-width: 50%;
 margin-top: 35px;
  margin-bottom: 50px; }
   h1 {
    color: #333;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 300; 
    font-size: 2.4rem;
    margin: 18px 0 5px 0; }
   h1 a {
    color: #111;
    text-decoration: none; }
   h2 {
    color: #333;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 300; }
   h2 a {
    color: #111;
    text-decoration: none; 
    font-size: 2.2rem;
    margin-bottom: 15px; }
   h3 {
    color: #333;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
    padding-bottom: 5px;
    margin-bottom: 10px; }
   h3 a {
    color: #111;
    text-decoration: none; }
   h4 {
    color: #333;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: 300; }
   h4 a {
    color: #111;
    text-decoration: none; }
p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7rem; }
  p code {
      font-size: 1.4rem;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px; }
img {
    border: none; }
li {
    margin-bottom: 10px;
    line-height: 1.6em; }

.title {
  font-family: 'Source Sans Pro' , sans-serif;
  color: #333;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.9rem;
  padding: 40px 40px 40px 40px;
  margin-bottom: 1.5em;
  text-decoration: none;
}

.title a:link {
text-decoration: none;
}

.colourbar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 1%;
  background-color: #00aef1 }

.scrollup {
    background: url("../img/stt.png") no-repeat scroll 0 0 transparent;
    bottom: 20px;
    display: none;
    height: 40px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 40px;
}

