.tooltip {
  position: relative;
   
  .tip {
    -webkit-transition: all 300ms ease-in-out, opacity 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out, opacity 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out, opacity 300ms ease-in-out;
    transition: all 300ms ease-in-out, opacity 300ms ease-in-out;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    display: block;
    padding: 6px 12px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 80px;
    text-align: center;
  }
  
  @media screen and (max-width:700px) {
  }
  @media screen and (min-width:700px) {
    &:hover .tip {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      top: -40px;
    }
  }
}

.dribbble-tip {
  color: $dribbble;
}
.forrst-tip {
  color: $forrst;
}
.blog-tip {
  color: $blog;
}
.contact-tip {
  color: $email;
}
.dribbble-fix {
  margin-left: -26px;
}
.forrst-fix {
  margin-left: -10px;
}
.blog-fix {
  margin-left: -6px;
}
.contact-fix {
  margin-left: -20px;
}