// $link-color: #0B94D8;
// $header-color: #DFE0DE;
// $title-color: #AFB0AE;
// $social-color: #0096D3;
// $latest1-color: #9FC85F;
// $latest1-color-dark: darken( $latest1-color, 20% );
// $latest2-color: #EB9C50;
// $latest2-color-dark: darken( $latest2-color, 20% );
// $contact-color: #0096D3;
// $footer-color: #C0576A;

$link-color: #3498DB;
$header-color: #ECF0F1;
$title-color: #AFB0AE;
$social-color: #3498DB;
$latest1-color: #2ECC71;
$latest1-color-dark: darken( $latest1-color, 20% );
$latest2-color: #F1C40F;
$latest2-color-dark: darken( $latest2-color, 20% );
$contact-color: #2980B9;
$footer-color: #C0392B;
$forrst: #2ECC71;
$dribbble: lighten( #EA4C89, 4% );
$blog: #F39C12;
$email: #C0392B;