@import "variables";
@import "fonts";
@import "iconfont";
@import "email";
@import "tooltip";

section,
header,
footer {
    display: block;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    // color: $link-color;
}

body {
    width: 100%;
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0 auto;
    color: $main-font-color;
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.7rem;
}

img {
    // Responsive IMGs
    max-width: 100%;
    width: auto\9; /*iefix*/
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

img::selection {
    background: $selection-background;
}

::selection {
    background: $selection-background;
}

::-moz-selection {
    background: $selection-background;
}

header {
    text-align: center;
    &#head {
        background: $header-color;
        padding: 40px 0 30px 0;
        & h1 {
            font-family: 'Proxima Nova Extrabold', sans-serif;
            color: $main-font-color;
            @include min-screen(700px) {
                padding-top: 35px;
                font-size: 7rem;
                line-height: 5rem;
            }
            @include max-screen(700px) {
                padding-top: 20px;
                font-size: 4rem;
            }
        }
        & h2 {
            font-size: 1.1rem;
            color: $title-color;
            @include min-screen(700px) {
                margin-top: -75px;
            }
            @include max-screen(700px) {
                margin-top: -25px;
            }
        }
    }
}

section#about {
    background: $about-color;
    padding: $section-padding;
    color: $about-color-dark;
    & .width {
        max-width: $section-width;
        margin: 0 auto;
        padding: $content-padding;
        line-height: 1.9rem;
        text-align: left;
    }
    & a {
        // color: $about-color-light;
    }
    & .dribbble {
        color: $dribbble;
    }
    & .contact {
        color: $email;
    }
    & .blog {
        color: $blog;
    }
}

section#social {
    background: $social-color;
    -webkit-backface-visibility: hidden; //flashing Fix
    @include min-screen(700px) {
        padding: 30px 0 55px 0;
    }
    @include max-screen(700px) {
        padding: 20px 0 35px 0;
    }
    & .aligner {
        text-align: center;
        margin: 0 auto;
        max-width: $section-width;
        color: $social-icon-color;
        @include min-screen(700px) {
            font-size: 2rem;
        }
        @include max-screen(700px) {
            font-size: 1.5rem;
        }
        & a {
            color: $social-icon-color;
            text-decoration: none;
            height: 125px;
        }
    }
}
section#latest1, section#latest2, section#latest3 {
    padding: $section-padding;
    & .width {
        max-width: $section-width;
        margin: 0 auto;
        padding: $content-padding;
    }
    & h1 {
        font-family: 'Proxima Nova', sans-serif;
        font-size: 1.45rem;
        text-align: center;
        margin-bottom: 0px;
    }
    & h2 {
        font-family: 'Proxima Nova', sans-serif;
        font-size: 1.05rem;
        text-align: center;
        margin-bottom: 12px;
        margin-top: 0px;
    }
    & p {
        font-family: 'Proxima Nova', sans-serif;
        font-size: 1.05rem;
        margin-top: 3px;
    }
    & a {
        text-decoration: none;
    }
}

section#latest1 {
    background: $latest1-color;
    & h1 {
        color: $latest1-color-dark;
        & a {
            color: $latest1-color-dark;
        }
    }
    & h2 {
        color: $latest1-color-dark;
    }
    & p {
        color: $latest1-color-dark;
    }
    & a {
        color: $latest1-color-light;
    }
}

section#latest2 {
    background: $latest2-color;
    & h1 {
        color: $latest2-color-dark;
        & a {
            color: $latest2-color-dark;
        }
    }
    & h2 {
        color: $latest2-color-dark;
    }
    & p {
        color: $latest2-color-dark;
    }
    & a {
        color: $latest2-color-light;
    }
}

section#latest3 {
    background: $latest3-color;
    & h1 {
        color: $latest3-color-dark;
        & a {
            color: $latest3-color-dark;
        }
    }
    & h2 {
        color: $latest3-color-dark;
    }
    & p {
        color: $latest3-color-dark;
    }
    & a {
        color: $latest3-color-light;
    }
}

section#contact {
    padding: $section-padding;
    background: $contact-color;
    & .width {
        max-width: $section-width;
        min-height: 300px;
        padding-left: 2%;
        margin: 0 auto;
        display: block;
        line-height: 1.9rem;
        text-align: left;
    }
    // & p {
    //     color: $contact-color-dark;
    //     font-family: 'Proxima Nova', sans-serif;
    //     font-size: 1.05rem;
    //     margin-top: 3px;
    // }
    // & a {
    //     color: $contact-color-light;
    //     text-decoration: none;
    // }
}

footer#foot {
    padding: 40px 0 30px 0;
    background: $footer-color;
    & .cont {
        text-align: left;
        padding: $content-padding;
        margin: 0 auto;
        max-width: $section-width;
        color: $footer-color-dark;
        & a {
            color: $footer-color-light;
            text-decoration: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
    font-family: 'Proxima Nova', sans-serif;
}

ul, li { 
    list-style-type: none;
    padding: 0 auto; 
}

.icon {
    @include min-screen(700px) {
        padding: 0 8% 0 0;
    }
    @include max-screen(700px) {
        padding: 0 4% 0 0;
    }
}
.img-center {
    margin: 0 auto;
    display: block;
}

.top-pad {
    margin-top: $top-pad;
}

.slider { 
    position: relative;
    overflow: auto;
        margin: 0;
    padding: 0 auto;
    width: 100%;
    & li {
        list-style: none;
    }
    & ul li {
        float: left;
    }
    & ul {
        -webkit-padding-start: 0px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -moz-padding-start: 0px;
        -moz-margin-before: 0px;
        -moz-margin-after: 0px;
        -moz-margin-start: 0px;
        -moz-margin-end: 0px;
    }
}
.about-slider {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
}